In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1, 2, 3],[4, 5, 6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
df.shape, df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      int64
 1   1       2 non-null      int64
 2   2       2 non-null      int64
dtypes: int64(3)
memory usage: 180.0 bytes

((2, 3), None)

In [7]:
df.astype(float)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

### 绘图   →   history.plot()

### import matplotlib.pyplot as plt     →    如果要列表显示汉字之类的情况下要用 matplotlib.pyplot 这个包
### plt.raParans['font.family'] = 'SinHei'   →    把字体变成雅黑

### 折线图     eg→   history.groupby('投放日期')['GMV'].sum().plot(kind='line', x='投放日期'， y= 'GMV')

### 柱状图     eg→   history.groupby('广告计划ID')['GMV'].sum().plot(kind='bar', x='广告计划ID'， y= 'GMV')

### 水平柱状图    eg→   history.groupby('广告计划ID')['GMV'].sum().plot(kind='barh', x='广告计划ID'， y= 'GMV')

### 直方图    eg→   history['GMV'].plot(kind='hist')

### 散点图    eg→   history.plot(kind='scatter',x= 'GMV', y='消耗')

### 数据类型为Dataframe时  apply, applymap

### def demo(x):
### formular = x['客单价'] + x['消耗'] + x['直播间曝光数']
### return formular
### history_list.apply(demo, axis=1)       apply方法默认   axis=0，注意此处

### 饼图      eg→   history.groupby('广告计划ID')['GMV'].sum().plot(kind='pie')

### PyGWalker   → import pygwalker as pw     好评！！很像tableau
### pw.walk(history_list)

### 数据类型为Series时   map,apply方法

### history_list['人群标签'].map({'数据分析': '数分'})       NOTE！！！！！！！！！map可以用于很多规则，apply只能用于函数规则

### history_list['GMV'].map((lambda x:int(x)))

# 4 用户画像

## 4.1 用户处理

In [9]:
from datetime import datetime

d1 = datetime(2024,1,1,1,1,1)
d1

datetime.datetime(2024, 1, 1, 1, 1, 1)

In [12]:
s1 = d1.strftime("%Y/%m/%d %H:%M:%S")

In [13]:
s1

'2024/01/01 01:01:01'